<div class="card" >
    <div class="card border-primary mb-6" style="max-width: 100%;">
        <div class="card-header bg-primary" style="background-color: #4683df;">
            <div class="d-flex bd-highlight">
               
                    <div class="p-2 bd-highlight">
                    <strong> Reporte Resumido CCMN/DPMN</strong>
                    </div>  
                    <div class class="p-2 flex-grow-1 bd-highlight " style="color: white; font-weight:bold" ></div>
                    <div class="p-2 bd-highlight">
                        <button type="button" (click)="exportarpdf('reporteDpmn.pdf')" class="btn btn-warning">Exportar a PDF</button>
                    </div>
                   
                          
                    
                    <div class="p-2 bd-highlight">
                        
                        <a [routerLink]="['../../../lista']" style="text-decoration:none">
                            <button type="button"  class="btn btn-info ">Retornar</button>
                        </a>
                    </div>

             </div>  
        </div>
    </div>    

    <div class="row">   

        <div class="col-md-6">
            <div class="card border-primary mb-3" style="max-width: 100%;">
                <div class="card-header text-center"    >Totales Por Aduana</div>
                <div class="row">
                    <p-table
                    #dt1 [value]="comprobantes"
                    [paginator]="true"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    styleClass="p-datatable-sm"
                    [rowsPerPageOptions]="[5,10,25,50]"  >
                      <ng-template pTemplate="header">
                          <tr>
                              <th class="text-center" style="width:10%">ID</th>
                              <th class="text-center" style="width:30%">Aduana</th>
                              <th class="text-center" style="width:30%">Tipo</th>
                              <th class="text-center" style="width:30%">Cantidad</th>
          
          
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr >
                          <td colspan = "3" class="text-center">No hay registros</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-comprobantes let-rowIndex="rowIndex">
                          <tr>
                              <td>{{rowIndex + 1}}</td>
                              <td>{{comprobantes.desRazonSocialDestinatario}}</td>
                              <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                              <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                            
                          </tr>
                      </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 100%;">
                <div class="card-header text-center">Totales por Tipo de Control</div>
                <div class="row">
                    <p-table
                    #dt1 [value]="comprobantes"
                    [paginator]="true"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    styleClass="p-datatable-sm"
                    [rowsPerPageOptions]="[5,10,25,50]"  >
                      <ng-template pTemplate="header">
                          <tr>
                              <th class="text-center" style="width:10%">ID</th>
                              <th class="text-center" style="width:45%">Tipo de Control</th>
                              <th class="text-center" style="width:45%">Cantidad</th>
          
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr >
                          <td colspan = "3" class="text-center">No hay registros</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-comprobantes let-rowIndex="rowIndex">
                          <tr>
                              <td>{{rowIndex + 1}}</td>
                              <td>{{comprobantes.desRazonSocialDestinatario}}</td>
                              <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                            
                          </tr>
                      </ng-template>
                    </p-table>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 100%;">
                <div class="card-header text-center">Totales por Usuario Externo</div>
                <div class="row">
                    <p-table
                    #dt1 [value]="comprobantes"
                    [paginator]="true"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    styleClass="p-datatable-sm"
                    [rowsPerPageOptions]="[5,10,25,50]"  >
                      <ng-template pTemplate="header">
                          <tr>
                              <th class="text-center" style="width:10%">ID</th>
                              <th class="text-center" style="width:45%">Usuario</th>
                              <th class="text-center" style="width:45%">Cantidad</th>
          
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr >
                          <td colspan = "3" class="text-center">No hay registros</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-comprobantes let-rowIndex="rowIndex">
                          <tr>
                              <td>{{rowIndex + 1}}</td>
                              <td>{{comprobantes.desRazonSocialDestinatario}}</td>
                              <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                            
                          </tr>
                      </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

            <div class="col-md-6">
                <div class="card border-primary mb-3" style="max-width: 100%;">
                    <div class="card-header text-center">Totales por Estado de CCMN</div>
                    <div class="row">
                        <p-table
                        #dt1 [value]="comprobantes"
                        [paginator]="true"
                        [rows]="5"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        styleClass="p-datatable-sm"
                        [rowsPerPageOptions]="[5,10,25,50]"  >
                          <ng-template pTemplate="header">
                              <tr>
                                  <th class="text-center" style="width:10%">ID</th>
                                  <th class="text-center" style="width:45%">Estado</th>
                                  <th class="text-center" style="width:45%">Cantidad</th>
              
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr >
                              <td colspan = "3" class="text-center">No hay registros</td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-comprobantes let-rowIndex="rowIndex">
                              <tr>
                                  <td>{{rowIndex + 1}}</td>
                                  <td>{{comprobantes.desRazonSocialDestinatario}}</td>
                                  <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                                
                              </tr>
                          </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="max-width: 100%;">
                    <div class="text-center"  class="card-header text-center">Totales por Estado de DPMN</div>
                    <div class="row">
                        <p-table
                        #dt1 [value]="comprobantes"
                        [paginator]="true"
                        [rows]="5"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        styleClass="p-datatable-sm"
                        [rowsPerPageOptions]="[5,10,25,50]"  >
                          <ng-template pTemplate="header">
                              <tr>
                                  <th class="text-center" style="width:10%">ID</th>
                                  <th class="text-center" style="width:45%">Estado</th>
                                  <th class="text-center" style="width:45%">Cantidad</th>
              
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr >
                              <td colspan = "3" class="text-center">No hay registros</td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-comprobantes let-rowIndex="rowIndex">
                              <tr>
                                  <td>{{rowIndex + 1}}</td>
                                  <td>{{comprobantes.desRazonSocialDestinatario}}</td>
                                  <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                                
                              </tr>
                          </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="max-width: 100%;">
                    <div class="card-header text-center">Totales por Funcionario Aduanero</div>
                    <div class="row">
                        <p-table
                        #dt1 [value]="comprobantes"
                        [paginator]="true"
                        [rows]="5"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        styleClass="p-datatable-sm"
                        [rowsPerPageOptions]="[5,10,25,50]"  >
                          <ng-template pTemplate="header">
                              <tr>
                                  <th class="text-center" style="width:10%">ID</th>
                                  <th class="text-center" style="width:45%">Funcionario Aduanero</th>
                                  <th class="text-center" style="width:45%">Cantidad</th>
              
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr >
                              <td colspan = "3" class="text-center">No hay registros</td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-comprobantes let-rowIndex="rowIndex">
                              <tr>
                                  <td>{{rowIndex + 1}}</td>
                                  <td>{{comprobantes.desRazonSocialDestinatario}}</td>
                                  <td>{{comprobantes.ubigeoDestino.nomDepartamento}}-{{comprobantes.ubigeoDestino.nomDistrito}}-{{comprobantes.ubigeoDestino.nomProvincia}}</td>
                                
                              </tr>
                          </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>

    </div>

</div>
